body{
background:#f4f7fc;
font-family:'Poppins',sans-serif;
margin:0;
}

.sidebar{

width:250px;

height:100vh;

background:#1E3A8A;

position:fixed;

padding:30px 20px;

}

.sidebar h3{

color:white;

margin-bottom:40px;

}

.sidebar a{

display:block;

color:white;

padding:15px;

margin-bottom:10px;

text-decoration:none;

border-radius:10px;

transition:.3s;

}

.sidebar a:hover,
.sidebar .active{

background:#2563EB;

}

.content{

margin-left:250px;

padding:40px;

}

.stat{

border:none;

border-radius:18px;

padding:25px;

text-align:center;

box-shadow:0 10px 20px rgba(0,0,0,.08);

}

.stat h3{

font-size:38px;

color:#2563EB;

font-weight:700;

}

.card{

border:none;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}