Flask==3.1.2
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.51
PyMySQL==1.2.0
Werkzeug==3.1.4
Jinja2==3.1.6
MarkupSafe==3.0.3
click==8.3.1
blinker==1.9.0
itsdangerous==2.2.0
greenlet==3.2.3
Mako==1.3.10
alembic==1.18.5
cryptography
colorama==0.4.6
typing_extensions==4.16.0
python-dotenv
torch
torchvision
transformers
Pillow
numpy
python-dotenv
gunicorn
